%h1 Listing managers

%table
  %tr
    %th Manager name
    %th Manager
    %th Password
    %th
    %th
    %th

  - @managers.each do |manager|
    %tr
      %td= manager.manager_name
      %td= manager.manager_id
      %td= manager.password
      %td= link_to 'Show', manager
      %td= link_to 'Edit', edit_manager_path(manager)
      %td= link_to 'Destroy', manager, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Manager', new_manager_path
